// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// material mixer tool
// http://www.sankk.in/material-mixer/
$primary   = #3E2723 // brown 800
$secondary = #00C853 // green A700
$tertiary  = #555

$neutral   = #F1E7C9
$positive  = #5ab946
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F0CC3E

$light     = #8D6E63 // brown 400
$dark      = #000000 // brown 900
$faded     = #C7C1BB

$text-color          = #4a3520
$background-color    = #F1E7C9

$link-color          = #5ab946
$link-color-active   = #CCE9C6
