body
  background-color: #F1E7C9;

h1, h2, h3, h4, h5, h6,
.toolbar-title,
button,
.modal-header
  font-family:'Alfa Slab One'
  font-weight: normal !important
  color: #4A3520

.toolbar-logo
  a span
    color: #fff !important

  a:hover,
  a:active,
  a:visited
    text-decoration: none
    color: #5ab946

.list,
.card
  background-color: #fff

.layout-footer
  background-color: white !important
